# This is a template for .npmrc file.
# Please copy this file to .npmrc and replace YOUR_PERSONAL_ACCESS_TOKEN with your actual token.

# Specify the registry for @kengo-k packages.
@kengo-k:registry=https://npm.pkg.github.com/

# Authenticate with the registry using your personal access token.
//npm.pkg.github.com/:_authToken=YOUR_PERSONAL_ACCESS_TOKEN
